/* docs/stylesheets/extra.css */

/* Define a new 'arxiv' admonition type */
:root {
    --md-admonition-icon--arxiv: url("https://info.arxiv.org/brand/images/brand-logo-primary.svg");
    /* Primary brand color */
    --md-primary-fg-color: #59945f !important;
    --md-primary-fg-color--light: #71aa77 !important;
    --md-primary-fg-color--dark: #437248 !important;
    --md-accent-fg-color: #71aa77 !important;
}

:root[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #59945f !important;
    --md-primary-fg-color--light: #71aa77 !important;
    --md-primary-fg-color--dark: #437248 !important;
    --md-accent-fg-color: #71aa77 !important;
}

.md-typeset .admonition.arxiv,
.md-typeset details.arxiv {
    border-color: #2a6479;
}

.md-typeset .arxiv>.md-admonition-title,
.md-typeset .arxiv>summary {
    background-color: rgba(42, 100, 121, 0.1);
}

/* --- THIS IS THE FINAL, CORRECTED PART --- */
.md-typeset .admonition.arxiv>.md-admonition-title::before,
.md-typeset .arxiv>summary::before {
    background: var(--md-admonition-icon--arxiv) no-repeat center/contain !important;
    -webkit-mask: none !important;
    mask: none !important;
}
